/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Fundo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
    color: #333;
}

/* Container principal */
.gallery-container {
    background: #ffffff;
    width: 100%;
    max-width: 800px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

/* Título */
.gallery-container h1 {
    font-size: 28px;
    font-weight: bold;
    color: #444;
    margin-bottom: 20px;
}

/* Descrição */
.gallery-container p {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
}

/* Estilo do link e botão de copiar */
.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#shareLink {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    background: #4CAF50;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

button:hover {
    background: #45a049;
}

/* Estilos para a barra lateral */
.sidebar {
    position: fixed;
    /* top: 0; */
    left: 0;
    width: 200px;
    height: 96vh;
    background-color: #33333366;
    color: #fff;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    margin: 2vh;
    border-radius: 25px;
}

.sidebar h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 24px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    text-align: center;
}

.sidebar ul li {
    width: 100%;
}

.sidebar ul li a {
    display: block;
    padding: 15px 0;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: background 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #555;
}

/* Estilos para o conteúdo principal */
.main-content {
    margin-left: 220px;
    /* Para ajustar o espaço da barra lateral */
    padding: 20px;
}


/* Estilo para o título "Momento Gallery" como um botão */
.sidebar-title {
    display: block;
    padding: 15px 0;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    /* Tamanho um pouco maior para o título */
    font-weight: bold;
    text-align: center;
    transition: background 0.3s ease;
}

.sidebar-title i {
    margin-right: 10px;
    /* Espaçamento entre o ícone e o texto */
    font-size: 20px;
    /* Tamanho do ícone */
}

.sidebar-title:hover {
    background-color: #555;
}